<div id="notification_<%= notification.id %>" class="notification <%= notification.read? ? 'read' : 'unread' %>">
  <div class="mb-2 p-2 border rounded">
    <div class="d-flex align-items-center">
      <div class="me-2 d-flex align-items-center">
        <img src="<%= asset_path('default-avatar.jpg') %>" class="rounded-circle" width="40" height="40" />
      </div>
      <div class="flex-grow-1">
        <span class="notification-date">
          <span><%= notification.created_at.strftime("%B %d, %Y") %></span>
          <span style="margin-left: 130px;"><%= notification.user.user_name %></span>
        </span>
        <p class="mb-0"><%= notification.content %></p>
      </div>
    </div>
  </div>
</div>
