<%= button_to "log out",  destroy_user_session_path, method: :destroy, data: {confirm: "are you sure"} %>
<%= link_to "publish", new_art_path(Art.new), class: "btn btn-primary" %>
<% @arts.each do |art| %>
  <div class="art-item">
    <h2><%= art.tags %></h2>
    <p><%= art.description %></p>
    <p>Created by: <%= art.user.user_name %></p>
    <p>Created at: <%= art.created_at.strftime("%B %d, %Y") %></p>
  </div>
<% end %>
