<div class="d-flex align-items-center mb-2">
  <%= link_to profile_path(art.user), style: "text-decoration: none; color: black;" do %>
    <% if current_user.avatar.attached? %>
      <%= cl_image_tag current_user.avatar.key,
        class: "rounded-circle me-3 flex-shrink-0",
        width: "40", height: "40"
      %>
    <% else %>
      <img src="<%= asset_path('default-avatar.jpg') %>"
           class="rounded-circle me-3 flex-shrink-0"
           width="40" height="40"
           alt="Avatar">
    <% end %>
    <span class="fw-bold"><%= art.user.user_name %></span>
  <% end %>
</div>


<div class="border rounded-4 overflow-hidden mb-4" id="<%= "art_#{art.id}" %>">

  <div class="p-3" data-anchor-target="<%= art == @last ? "anchor" : ""%>">

   <div class="position-relative" data-controller="animation">
  <i
    class="fa-solid fa-arrow-left position-absolute top-50 start-0 translate-middle-y ms-2 text-white"
    style="cursor: pointer;"
    data-action="click->animation#left"
  ></i>

  <!-- Contenu (image ou vidéo) -->
  <% if art.photo.attached? %>
    <%= cl_image_tag art.photo.key,
          class: "w-full rounded mb-2 img-fluid object-fit-contain",
          width: 250, height: 200,
          alt: "Additional content image",
          data: { "animation-target": "image" }
    %>
  <% elsif art.video.attached? %>
    <%= video_tag url_for(art.video),
          class: "w-full rounded mb-2 img-fluid object-fit-contain",
          controls: true,
          data: { "animation-target": "video" }
    %>
  <% else %>
    <%= image_tag "artworkexample.jpg",
          class: "w-full rounded mb-2",
          width: 250, height: 200,
          alt: "Additional content image",
          data: { "animation-target": "image" }
    %>
  <% end %>

  <!-- Flèche droite -->
  <i
    class="fa-solid fa-arrow-right position-absolute top-50 end-0 translate-middle-y me-2 text-white"
    style="cursor: pointer;"
    data-action="click->animation#right"
  ></i>
</div>


    <% if art.video.attached? %>
      <%= cl_video_tag art.video.key, controls: true, class: "w-full" %>
    <% end %>

    <p class="text-xs text-gray-500 mb-2">
      <%= art.created_at.strftime("%b %d, %Y") %>
    </p>
    <p class="text-sm mb-3"><%= art.description %></p>


    <div class="d-flex space-x-4 text-sm">
      <%= turbo_stream_from "turbo_#{art.id}_likes" %>
      <div id="<%= "art_#{art.id}_likes" %>" >
        <%= render "home/like", current_user: current_user, art: art %>
      </div>

      <%= turbo_stream_from "turbo_#{art.id}_comments" %>
      <%= link_to art_comments_path(art), class: "btn", id: "art_#{art.id}_comments" do%>
        <%= render "home/comment", count: art.comments.size, art: art %>
      <% end %>
    </div>
  </div>
</div>
