<div class="d-flex align-items-center mb-2">
  <%= link_to profile_path(art.user) do %>
    <%= image_tag "default_avatar.png", alt: "User Avatar", class: "rounded-circle me-2", width: 40, height: 40 %>
    <span class="fw-bold"><%= art.user.user_name %></span>
  <% end %>
</div>


<div class="border rounded-4 overflow-hidden mb-4" id="<%= "art_#{art.id}" %>">

  <div class="p-3" data-anchor-target="<%= art == @last ? "anchor" : ""%>">

    <div class="position-relative d-inline-block" data-controller="animation">
      <% if art.user == current_user %>
        <i class="fa-solid fa-ellipsis-vertical position-absolute top-0 end-0 m-2 text-white dropdown-toggle" style="cursor: pointer;"></i>

        <div class="dropdown-menu-custom position-absolute top-0 end-0 mt-4 me-2 p-2 bg-white rounded shadow z-3"
             style="min-width: 100px; background-color: transparent;"
        >
          <a href="#" class="btn btn-outline-secondary w-100 fw-semibold" data-action="click->animation#dropdown">Edit</a>
          <a href="#" class="btn btn-outline-danger w-100 fw-semibold">Delete</a>
        </div>
      <% end %>

      <% if art.photo.attached? %>
        <%= cl_image_tag art.photo.key, class: "w-full rounded mb-2 img-fluid object-fit-contain", alt: "Additional content image", width: 310, height: 200 %>
      <% else %>
        <%= image_tag "artworkexample.jpg", class: "w-full rounded mb-2", alt: "Additional content image", width: 310, height: 200 %>
      <% end %>
    </div>

    <% if art.video.attached? %>
      <%= cl_video_tag art.video.key, controls: true, class: "w-full" %>
    <% end %>

    <p class="text-xs text-gray-500 mb-2">
      <%= art.created_at.strftime("%b %d, %Y") %>
    </p>
    <p class="text-sm mb-3"><%= art.description %></p>


    <div class="d-flex space-x-4 text-sm">
      <%= turbo_stream_from "turbo_#{art.id}_likes" %>
      <div id="<%= "art_#{art.id}_likes" %>" >
        <%= render "home/like", current_user: current_user, art: art %>
      </div>

      <%= turbo_stream_from "turbo_#{art.id}_comments" %>
      <%= link_to art_comments_path(art), class: "btn", id: "art_#{art.id}_comments" do%>
        <%= render "home/comment", count: art.comments.size, art: art %>
      <% end %>
    </div>
  </div>
</div>
