<%= form_with model: User.new,  url: update_profile_path(@user), local: true do |f| %>

  <div class="mb-3">
    <%= f.label :user_name, "New user_name", class: "form-label small fw-semibold" %>
    <%= f.text_field :user_name, class: "form-control form-control-sm", placeholder: "ex: AuBrian" %>
  </div>

  <div class="mb-3">
    <%= f.label :avatar, "Image Profile", class: "form-label small fw-semibold" %>
    <%= f.file_field :avatar, accept: "image/*", class: "form-control form-control-sm" %>
  </div>

  <div class="mb-3">
    <%= f.label :phone_number, "Phone number", class: "form-label small fw-semibold" %>
    <%= f.telephone_field :phone_number, class: "form-control form-control-sm", placeholder: "phone number" %>
  </div>

  <div class="d-grid">
    <%= f.submit "Save", class: "btn btn-primary btn-sm rounded-pill" %>
  </div>
<% end %>

<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@17/build/js/intlTelInput.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@17/build/js/utils.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    const input = document.querySelector("#phone_number");

    window.intlTelInput(input, {
      utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@17/build/js/utils.js",
      initialCountry: "auto",
      geoIpLookup: callback => {
        fetch('https://ipapi.co/json')
          .then(res => res.json())
          .then(data => callback(data.country_code))
          .catch(() => callback("us"));
      },
      separateDialCode: true,
      preferredCountries: ["mu", "fr", "us"],
    });
  });

  input.form.closest("form").addEventListener("submit", function () {
  const phoneInput = window.intlTelInputGlobals.getInstance(input);
  const formatted = phoneInput.getNumber();
  input.value = formatted;
  });

</script>
